<h1>New user</h1>
<% if params[:role] != 'Student' %>
    <% if logged_in? %>
        <% if current_user.admin? %>
            <%= render 'form' %>
        <% else raise SecurityTransgression %>
        <% end %>
    <% else %>
        <script type="text/javascript">
          window.location.href="/users/new?role=Student"  // put your correct path in a string here
        </script>
    <% end %>
<% else %>
    <%= render 'form' %>
<% end %>

