<h1>Editing course</h1>
<%= render 'form' %>
<%= link_to 'Show Course', @course, class: 'btn btn-primary pull-right'%>
<%= link_to_function 'Back', 'history.back()', class: 'btn btn-default pull-right' %>
