<footer class="footer">
  <small>
    The Course Portal Application
    by Michael Goff & Michael Xu
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',   '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </nav>
</footer>